.left{float:left}
.navbar-border
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}
.media-custom
{
	border: 1px solid black;
	width: 90%;
	margin: 0 auto;
	padding:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #3F3F3F;
	background: -moz-linear-gradient(left, #355648 0%, #6d8961 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#355648), color-stop(100%,#6d8961));
	background: -webkit-linear-gradient(left, #355648 0%,#6d8961 100%);
	background: -o-linear-gradient(left, #355648 0%,#6d8961 100%);
	background: -ms-linear-gradient(left, #355648 0%,#6d8961 100%);
	background: linear-gradient(to right, #355648 0%,#6d8961 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#355648', endColorstr='#6d8961',GradientType=1 );
	-webkit-box-shadow: inset 2px 2px 100px 4px rgba(0, 0, 0, 0.5);
	box-shadow: inset 2px 2px 100px 4px rgba(0, 0, 0, 0.5);
	color: #fff;
}
#navigation 
{
	position:fixed;
	z-index:9999;
	width:100%;
	top:0;
}
#navigation a:hover {
color: grey;
}

.margin5
{
	margin-top:5%;
} 
.background-none
{
	background:none !important;
}

