body, div {
	margin: 0;
	padding: 0;
}
.face {
	margin: 30px;
	background-color: #ffff00;
	width: 300px;
	height: 300px;
	border: 2px solid #000;
	border-radius: 300px;	
	transition: 2s;
}
.face:hover {
	width: 350px;
	height: 350px;
}
.eye {
	display: inline-block;
	background-color: #fff;	
	margin-top: 60px;
	width: 50px;
	height: 50px;
	border: 2px solid #000;
	border-radius: 50px;
	margin-left: 60px;
}
.leftpupil, .rightpupil {
	background-color: #000;
	width: 13px;
	height: 13px;
	border: 1px solid #000;
	border-radius: 14px;
}
.leftpupil {
	margin-top: 27px; 
	margin-left: 27px;
}
.nose {
	margin: 1px auto;
	background-color: #f00;
	width: 42px;
	height: 42px;
	border: 2px solid #000;
	border-radius: 43px;
}
.mouth {
	margin: 14px auto;
	background-color: #fff;	
	width: 140px;
	height: 58px;
	border: 2px solid #000;
	border-radius: 60px;
}
.lefttooth {

}
